<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933695702658-hm7bdrj56ia53ad8ps5dbvec4vrejlvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933695702658-hm7bdrj56ia53ad8ps5dbvec4vrejlvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBtjJQ0_OcB5CWo33H-fhM1iX8tL8_VI5U</string>
	<key>GCM_SENDER_ID</key>
	<string>933695702658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.ex.app.read.chatAppRead</string>
	<key>PROJECT_ID</key>
	<string>chat-read-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-read-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933695702658:ios:85924ddf6543189792169b</string>
</dict>
</plist>